<ion-view view-title="Calendar">
	<ion-content class="padding">
		<div class="calendar-legend">
		    <a href="" ng-click="monthClickHandler()">Month</a> |
		    <a href="" ng-click="listClickHandler()">List</a>
		</div>
		<br>
		<div id="listView" ng-show="isListViewActivated">
		    <ion-list>
			    <ion-item ng-repeat="item in listViewData track by $index">
			    	<p>Stadium Name : {{item.stadium}}</p>
			    	<p>Day : {{item.day}}</p>
			    	<p>Time : {{item.time}}</p>
			    	<p>Game Type : {{item.game_type}}</p>
			    	<p>Home Player Name : {{item.home_player_name}}</p>
			    	<p>Away Player Name : {{item.away_player_name}}</p>
			    	<p>Home Player Overlay Logo : {{item.home_player_overlay_logo}}</p>
			    	<p>Away Player Overlay Logo : {{item.away_player_overlay_logo}}</p>
			    	<p>Result : {{item.result}}</p>
			    	<p>Home Team Score : {{item.home_team_score}}</p>
			    	<p>Away Team Score : {{item.other_team_score}}</p>
			    	<p>Is Home Game : {{item.home_game}}</p>
			    	<p>Game Description : {{item.description}}</p>
			    	<!-- <p> : {{item.home_player_id}}</p>
			    	<p> : {{item.away_player_id}}</p>
			    	<p> : {{item.timestamp}}</p> -->
			    </ion-item>
		    </ion-list>
		</div>
		</div>
		<div id='gCalendar' ng-show="isCalendarViewActivated"></div>
		<div class="calendar-legend">
		<div class="cal-home"><span ng-style="{'background-color':'{{homeColor}}'}"></span> Home</div>
		<div class="cal-away"><span ng-style="{'background-color':'{{awayColor}}'}"></span> Away</div>
		</div>
	</ion-content>
</ion-view>