<ion-view view-title="Calendar">
	<ion-content class="padding calendar-view">
		<div class="calendar-legend calendar-views">
			<div><a href="" id="listClick" ng-click="listClickHandler()">List</a></div>
			<div>|</div>
			<div><a href="" id="monthClick" class="active-view" ng-click="monthClickHandler()">Month</a></div>
		</div>
		<div id="listView" ng-show="isListViewActivated">
		    <ion-list>
			    <ion-item ng-repeat="item in listViewData track by $index" class="list-view">
			    	<!-- <p>Stadium Name : {{item.stadium}}</p>
			    	<p>Day : {{item.day}}</p>
			    	<p>Time : {{item.time}}</p>
			    	<p>Game Type : {{item.game_type}}</p>
			    	<p>Home Player Name : {{item.home_player_name}}</p>
			    	<p>Away Player Name : {{item.away_player_name}}</p>
			    	<p>Home Player Overlay Logo : {{item.home_player_overlay_logo}}</p>
			    	<p>Away Player Overlay Logo : {{item.away_player_overlay_logo}}</p>
			    	<p>Result : {{item.result}}</p>
			    	<p>Home Team Score : {{item.home_team_score}}</p>
			    	<p>Away Team Score : {{item.other_team_score}}</p>

			    	<p>Is Home Game : {{item.home_game}}</p>
			    	<p>Game Description : {{item.description}}</p> -->
			    	<!-- <p> : {{item.home_player_id}}</p>
			    	<p> : {{item.away_player_id}}</p>
			    	<p> : {{item.timestamp}}</p> -->
			    	<div class="events-list">
						<div class="list-block">
							<div class="logos_block">
								<img src="{{item.home_player_overlay_logo}}" class="logos" />								
							</div>
							<div class="logos_block">
								<img src="{{item.away_player_overlay_logo}}" class="logos" />
							</div>
							<div class="game-location">{{item.game_type}}</div>
							<!-- <div class="game-details">
								<p>Prudential Center - Dec 06th - 7:00 PM EST</p>
							</div> -->
						</div>
						<div class="list-block">
							<div class="tabular-structure"><p><span>Venue:</span><span>{{item.title}}</span></p></div>
							<div class="tabular-structure">
								<div class="tabular-half"><p><span>Date:</span><span>{{item.day}}</span></p></div>
								<div class="tabular-half align-right"><p><span>Time:</span><span>{{item.time}}</span></p></div>
							</div>
							<div class="tabular-structure">
								<p><span>Event Details:</span><span>{{item.description}}</span></p>
							</div>
						</div>
					</div>
			    </ion-item>
		    </ion-list>
		    
		</div>
		</div>
		<div class="" ng-show="isCalendarViewActivated">
			<div id='gCalendar'></div>
			<div class="calendar-legend">
			<div class="cal-home"><span ng-style="{'background-color':'{{homeColor}}'}"></span> Home</div>
			<div class="cal-away"><span ng-style="{'background-color':'{{awayColor}}'}"></span> Away</div>
			</div>
		</div>
	</ion-content>
</ion-view>