/* Empty. Add your own CSS if you like */

.fc-agenda-slots td div {
     height: 40px !important;
}
.fc-row.fc-week.fc-widget-content {
    /*height: 40px;
    overflow: hidden;*/
}
p.error{color:red;}

.orange {box-shadow:inset 0 0 10px orange}
.divBorder{border: 1px solid; width:34px; height:34px; display:inline-block;top:12px;position: relative;}

.calanderThumbImage{
	width: 40px;    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    top: 22px;
    position: absolute;
}
.fc-event {    border: none 0;
    background-color:transparent;}

.fc-ltr .fc-basic-view .fc-day-number {
	text-align: left;
	position: relative;
}

.fc-ltr .fc-basic-view .fc-day-number:before {
	content: " ";
    display: block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    opacity: 0.4;
    left: 0;
    top: 0;
    border-radius: 0 0 5px;
}
.calendar-legend{overflow: hidden; height: 40px; line-height: 40px; border: 1px solid #ddd; border-top: 0 none;}
.calendar-legend div{ float: left; width: 100px; height: inherit;}
.calendar-legend div span{display: inline-block;    width: 25px;    height: 25px;    margin: -5px 0 0 5px;    vertical-align: middle;}

/*  Custom Style Goes Here */
.list input[type="text"]{border:1px solid rgba(169,169,169,1);padding:4px;}
.list input[type="text"]:focus{box-shadow:0px -2px 2px rgba(151,151,151,0.65) inset;}
label.item-input{padding-left:0px;}
.loginBtnHldr{position:fixed;top:100%;z-index:999;width:100%;padding:0px 5px 5px 5px;}
.loginBtnHldr button.button.button-block{margin:0px;}
.scroll .row{padding-bottom:10px;}
.scroll .row .item{padding:0px;line-height:34px;}
.scroll .row .item input{background:none;width:100%;}
.scroll-content .scroll .events-list{padding:0px 5px;}
#gCalendar .fc-view-container .fc-head th{background:rgba(178,178,178,0.5);border-right:1px solid rgba(178,178,178,0.5);padding:3px 0px;}
#gCalendar .fc-view-container .fc-head th:last-child{border-right:0px;}
/*#gCalendar .fc-view-container .fc-body td.fc-day{background:rgba(178,178,178,0.05)!important;}
#gCalendar .fc-view-container .fc-body td.fc-day{background:rgba(178,178,178,0.05)!important;}
#gCalendar .fc-view-container .fc-body td.fc-day.fc-past{background:rgba(178,178,178,0.2)!important;}*/
#gCalendar .fc-view-container .fc-body .fc-content-skeleton td.fc-day-number:before{color:#000000;}
.calendar-legend div span{margin:-3px 5px 0px 10px;width:15px;height:15px;}
.bar .button.back-button span.back-text{display:none;}
.login-page{top:44px;}
.calendar-legend{border:0px;}
.pane, .view{background:#ededed;}
.bar.bar-stable, .button.button-calm.button-outline, .event-details{background:linear-gradient(to bottom, #d12030 0%, #d12030 8%, #c41e2d 23%, #89151f 67%, #78121c 82%, #73121a 90%, #73121a 97%, #62141a 100%);}
.button.button-calm.button-outline:hover, .button.button-calm.button-outline:focus{background:#78121c;}
.bar.bar-stable .title, .button.button-calm.button-outline{color:#ffffff;font-family:Oswald;border:0px;outline:none;border-radius:5px;}
body, h1, h2, h3, h4, h5, h6{font-family:Oswald;}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald.regular-webfont.eot?1415356711");
  src: url("../fonts/oswald.regular-webfont.eot?1415356711?#iefix") format('embedded-opentype'), url('../fonts/oswald.regular-webfont.woff?1415356711') format('woff'), url('../fonts/oswald.regular-webfont.ttf?1415356711') format('truetype'), url('../fonts/oswald.regular-webfont.svg?1415356711#oswald') format('svg');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "OswaldBold";
  src: url("../fonts/oswald.bold-webfont.eot?1415356711");
  src: url("../fonts/oswald.bold-webfont.eot?1415356711?#iefix") format('embedded-opentype'), url('../fonts/oswald.bold-webfont.woff?1415356711') format('woff'), url('../fonts/oswald.bold-webfont.ttf?1415356711') format('truetype'), url('../fonts/oswald.bold-webfont.svg?1415356711#oswaldBold') format('svg');
  font-weight: normal;
  font-style: normal; 
}
.calendar-views{text-align:right;}.calendar-views a{color:#000000;display:inline-block;padding:3px 10px;font-size:1em;text-decoration:none;}.calendar-views a:hover, .calendar-views a:focus, .calendar-views a.active-view{color:#73121a;}
#gCalendar, .calendar-legend{padding:0px 10px;}#gCalendar .fc-toolbar .fc-center h2{font-size:1.5em;font-weight:normal;line-height:30px;}.calendar-legend div{font-size:0.85em;}
#gCalendar .fc-toolbar button{background:none;border:0px;box-shadow:none;}
.fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td{position:relative;}
.calanderThumbImage{top:-8px;width:100%;right:0px;margin:0px;}
.calendar-view{padding:0px;}
.calendar-view .calendar-views{padding:10px;background:rgba(0,0,0,0.1);}
.calendar-view .calendar-views div{float:right;width:auto;line-height:26px;height:initial;}
.calendar-view .calendar-views div a{line-height:20px;float:left;}
.fc-toolbar{margin-bottom:5px;margin-top:10px;}
.bar-stable .button.button-clear{color:#ffffff;}
.scroll .row .item{font-family:Arial, Helvetica, sans-serif;text-indent:10px;font-size:1em;}.scroll .row{padding:0px;margin:0px 0px 5px 0px;}.event-details h1, .event-details .button.button-dark.button-clear{color:#ffffff;}
.bar .button.button-clear.icon-left:before{font-size:20px;}.scroll-content .scroll .list{padding:5px;}
.list-block{float:left;width:100%;position:relative;margin:0px 0px 35px 0px;border:1px solid rgba(0,0,0,0.5);padding:3px;overflow: visible;}
.separator{background:url('../images/separator.png') no-repeat bottom center;position:absolute;width:100%;bottom:-25px;left:0;}
.events-list:nth-child(even) .list-block{background:rgba(0,0,0,0.15);}
.list-block div.logos_block{float:left;width:50%;position:relative;}
.list-block div.logos_block div{position:absolute;bottom:0px;width:100%;text-align:center;}
.list-block img.logos{width:100%;float:left;}
.event-details-content{padding:2px;}
.event-details-content.scroll-content .scroll .list{float:left;width:100%;padding:2px;position:relative;margin-bottom:5px;}
.game-location{position:absolute;top:50%;left:50%;width:30px;line-height:30px;margin:-15px 0px 0px -15px;z-index:999;color:#ffffff;text-align:center;font-size:1.75em;}
/*.game-details{position:absolute;bottom:0px;color:#ffffff;width:100%;text-align:center;font-size:1.25em;}.game-details p{margin:0px;padding:0px;font-size:0.7em;line-height:35px;}*/
.game-details{float:left;width:100%;padding:10px 0px 5px 0px;}.game-details p{color:#000000;}
.bar .button.button-clear.icon-left:before{font-size:41px;}.scroll-content .scroll .events-list{float:left;width:100%;padding:0px;position:relative;margin-bottom:30px;}
.list-view .scroll-content .scroll .list .item{padding:0px;}.list-view{padding:0px;float:left;width:100%;margin-bottom:5px;border-color:transparent;background:transparent;}#listView .list{float:left;width:100%;padding:5px;}
.list-view:nth-child(odd){background:#ffffff;}
.tabular-structure{float:left;width:100%;padding:5px 10px;font-family:Arial, Helvetica, sans-serif;}
.tabular-structure p{color:#000000;font-size:0.8em;white-space:pre;}
.tabular-structure p span{padding:0px 0px 0px 0px;line-height: 25px;}
.tabular-structure p span{float:left;width:30%;}.tabular-structure p span:last-child{float:right;width:65%;}
.tabular-structure:nth-child(even){background:rgba(0,0,0,0.125);}
.events-list .list-block{margin:0px;border:0px;}
.events-list{border:1px solid rgba(0,0,0,0.5);}
.event-details-content .list-block:last-child .separator{display:none;}

a.fc-more{position:absolute;margin:0px;right:0px;width:25px;overflow:hidden;height:20px;font-size:13px;font-family:Arial;text-align:center;background:rgba(255,255,255,0.4);margin-top:10px;border-radius:4px 0px 0px 0px;}

.tabular-structure.title{text-align:center;font-size:;font-family: Oswald;text-transform:uppercase;}
.tabular-structure.desc{text-align:center;}
.tabular-half{width:50%;float:left;font-family: Oswald;}
.align-right{text-align:right;}